{% extends "JANewsBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - {{ entity.title }} {% endblock %}

{% block content %}
	<h3>{{ entity.title }}</h3>

	<table class="record_properties">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ entity.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ entity.title }}</td>
			</tr>
			<tr>
				<th>Slug</th>
				<td>{{ entity.slug }}</td>
			</tr>
			<tr>
				<th>author</th>
				<td>{{ entity.author.username }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ entity.content }}</td>
			</tr>
			<tr>
				<th>Createdat</th>
				<td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
			</tr>
			<tr>
				<th>Updatedat</th>
				<td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
			</tr>
			<tr>
				<th>Games</th>
				<td>
					<ul>
					{% for game in entity.games %}
						<li><a href="{{ path('game_show', {'id' : game.id, 'slug' : game.slug}) }}">{{ game.title }}</a></li>
					{% else %}
						<li>No game here :(.</li>
					{% endfor %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<ul class="record_actions">
		<li>
			<a href="{{ path('news') }}">
				Back to the list
			</a>
		</li>
		<li>
			{% if is_granted('EDIT', entity) %}
				<a href="{{ path('news_edit', { 'slug': entity.slug }) }}">
					Edit
				</a>
			{% else %}
				<p>Pas les droits d'&eacute;dition. :/</p>
			{% endif %}
		</li>
		<li>
			{% if is_granted('DELETE', entity) %}
				<form action="{{ path('news_delete', { 'slug': entity.slug }) }}" method="post">
					{{ form_widget(delete_form) }}
					<button type="submit">Delete</button>
				</form>
			{% else %}
				<p>Pas les droits de suppression :/</p>
			{% endif %}
		</li>
	</ul>
{% endblock %}
