{% extends "JAAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Get Game {% endblock %}

{% block content %}
    <h1>
        Get Game : {{ path('api_1_get_game', {'slug' : game.slug}) }}
        <a href="{{ path('api_1_edit_game', {'slug' : game.slug}) }}">
            [edit]
        </a>
        <a href="{{ path('api_1_remove_game', {'slug' : game.slug}) }}">
            [remove]
        </a>
    </h1>
    <hr/>

    <p>Game Entity :</p>
    <ul>
        <li><b>id</b> : {{ game.id }}</li>
        <li><b>name</b> : {{ game.name }}</li>
        <li><b>slug</b> : {{ game.slug }}</li>
        <li><b>createdAt</b> : {{ game.createdAt | date }}</li>
        <li><b>updatedAt</b> : {{ game.updatedAt | date }}</li>
        <li>
            <b>technologies</b> :
            <ul>
            {% for technologie in game.technologies %}
                <li>
                    <a href="#" title="The link is coming soon">
                        {{ technologie.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </li>
        <li>
            <b>owner</b> :
            {% if game.owner.username is defined %}
                <a href="{{ path('api_1_get_user', {'username' : game.owner.username}) }}" title="See {{ game.owner.username }}'s profile">{{ game.owner.username }}</a>
            {% else %}
                Owner should not be nullable, fix that !
            {% endif %}
        </li>
    </ul>

{% endblock %}
