{% extends "JAAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Games {%endblock %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    {# <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" /> #}
{% endblock %}

{% block subbody %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>

    <div class="block">
        <h1>Links / Actions :</h1>
        <hr/>
        <ul>
            {% if is_granted('create') %}
            <li><a href="{{ path('api_1_new_game') }}">New game</a></li>
            {% endif %}
            <li><a href="{{ path('api_1_get_games') }}">All games</a></li>
        </ul>
    </div>

{% endblock %}
