<ul>
    <li><b>id</b> : {{ user.id }}</li>
    <li><b>username</b> : {{ user.username }}</li>
    <li><b>usernameCanonical</b> : {{ user.usernameCanonical }}</li>
    <li><b>enabled</b> : {{ user.enabled }}</li>
    <li><b>lastLogin</b> : {{ user.lastLogin | date }}</li>
    <li>
        <b>biography</b> :
        {% if user.biography is not empty %}
            <hr/>
            {{ user.biography | markdown }}
            <hr/>
        {% else %}
            Nope
        {% endif %}
    </li>
    <li><b>games</b> :
        <ul>
            {% for game in user.ownedGames %}
                <li><a href="{{ path('api_1_get_game', {'slug': game.slug}) }}">{{ game.name }}</a></li>
            {% else %}
                <li>No game !</li>
            {% endfor %}
        </ul>
    </li>
    <li><b>groups</b> :
        <ul>
            {% for group in user.groups %}
                <li>{{ group }}</li>
            {% else %}
                <li>No group yet !</li>
            {% endfor %}
        </ul>
    </li>
    <li><b>locked</b> : {% if user.locked %} Yep {% else %} Nope {% endif %}</li>
    <li><b>roles</b> :
        <ul>
            {% for role in user.roles %}
                <li>{{ role }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>