{% extends "JAGameBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Get Game {% endblock %}

{% block content %}
    <h1>
        Get Game : {{ path('api_1_get_game', {'slug' : game.slug}) }}
        <a href="{{ path('api_1_edit_game', {'slug' : game.slug}) }}">
            [edit]
        </a>
        <a href="{{ path('api_1_remove_game', {'slug' : game.slug}) }}">
            [remove]
        </a>
    </h1>
    <hr/>

    <p>Game Entity :</p>
    <ul>
        <li>id : {{ game.id }}</li>
        <li>name : {{ game.name }}</li>
        <li>slug : {{ game.slug }}</li>
        <li>createdAt : {{ game.createdAt | date }}</li>
        <li>updatedAt : {{ game.updatedAt | date }}</li>
    </ul>

{% endblock %}
